#map {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/*  Make our map take the full viewport - 100% */
.mapContainer,
.mapBox {
  width: 100%;
  height: 100%;
}

/* Tooltip code */
.mapboxgl-popup {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 10px;
  padding: 0;
  margin: 0;
  color: #424242;
}

.mapboxgl-popup-content {
  padding: 1rem;
  margin: 0;
}

.mapboxgl-popup-content * {
    margin: 0 0 0.5rem;
    padding: 0;
}

.mapboxgl-popup-content p {
  border-bottom: 1px solid rgba(black, 0.2);
}

.mapboxgl-popup-content p b {
  font-size: 1.6rem;
  color: #212121;
  padding: 0 5px;
}

.mapboxgl-popup-content img {
  width: 4rem;
  height: 4rem;
}

.cases {
  color: var(--cases-color);
}

.deaths {
  color: var(--deaths-color);
}

.recovered {
  color: var(--recovered-color);
}

.activeCases {
  color: var(--active-cases-color);
}

.flag {
  border: 1px solid black;
  position: relative;
  display: block;
  width: 100%;
}

.repeat {
  position: absolute;
  z-index: 9;
  color: white;
  right: 0;
  top: 8em;
  cursor: pointer;
  padding-right: .5em;
}